
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  border: 1px solid #aaa;
  padding: 5px 5px;
  height: 32px;
  font-size: 16px;
}
.flyover  {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background-color:white;
}

      
div#menu {
  cursor: pointer;
}
.ui-menu {
  width: 200px;
}


