.ws-outline > .ui[class*="very compact"].table td {
  padding-left: 3px;
  padding-right: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}

div#menu {
  cursor: pointer;
}
.ui-menu {
  width: 200px;
}

.ui.tab-nav.menu {
  min-height:25px;
}

.ui.tab-nav.menu > .item {
  padding-top:2px !important;
  padding-bottom:2px !important;
  margin-top:0px !important;
  margin-bottom:0px !important;
}

