<div class="ui segment">
  <div class="ui header blue medium">
    Mongo Databases
  </div>
  
  {{#if isLoading}}
    <div class="ui message blue">
      <b>Loading:</b> Please wait ...
    </div>
  {{/if}}

  {{#if isNew}}
    <div class="ui message blue">
      <b>No Databases Setup:</b> Use the Add Database button to add your <b>Mongo Account</b> account information.
    </div>
  {{/if}}

  <div class="ui segment pad3">
    <button myaction="newDoc" type="button" name="btn-page-tb-new" class="ui button compact blue icon  ">
      <i class="plus icon"></i> Add Database
    </button>
    <button myaction="refreshDash" type="button" name="btn-page-tb-new" class="ui button compact blue icon  ">
      <i class="recycle icon"></i> Refresh
    </button>
  </div>

  <div class="ui relaxed divided list">
    {{#each databases}}
    <a href="javascript:void(0)" class="item" dbname="{{this.name}}" myaction="openDatabaseDash">
      <i class="large database middle aligned icon"></i>

      <div class="content">
        <div class="right floated content">
          <div class="ui button">
            DB Dashboard
          </div>
        </div>
        <div class="header">
          DB Name: {{this.name}}
        </div>
        <div class="description">
          {{this.sizeOnDisk}}
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</div>