<!DOCTYPE html>
<html>

<head>
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">


  <link rel="stylesheet" href="/built-lib/support-libs.css">

  <link rel="stylesheet" href="/lib/semantic/dist/semantic.min.css">
  


  <!-- Local app css -->
  <link rel="stylesheet" href="/app/css/app.css">
  <style>
    .subdemo1 {
      color: red;
    }
  </style>
  <title>Action App Designer</title>
</head>

<body>
 <div class="ui segment center aligned">
  <h2 class="ui icon header">
    <div class="content">
      Action App Designer
      <div class="sub header">Application Login</div>
    </div>
  </h2>
<div class="ui clearing horizontal divider fitted"></div>
<script>
    
    const queryString = window.location.search;
    console.log(queryString);
    const urlParams = new URLSearchParams(queryString);

    const pagename = urlParams.get('page')
    if( pagename ){
        sessionStorage.setItem('_temp_login_page', pagename);
        console.log("saved",pagename)
    }

    
</script>


<a href="/auth/google" class="ui button blue"><i class="icon google"></i> Log-In via Google</a>
&nbsp;
<a href="/auth/github" class="ui button blue"><i class="icon github"></i> Log-In via GitHub</a>
<br /><br /> 


<center>
  <div style="max-width:480px">
    
    <form class="ui form segment left aligned" action="/login" method="POST">
      Username: <input class="ui field" type="text" name="username">
      <br /><br />
      Password: <input class="ui field" type="password" name="password">   
      <br /><br />
      <center>
      <button class="ui button blue" type="submit"> Log In </button>
    </center>
    </form>
  </div>
</center>

</div>

</body>

</html>