
table.outline > tbody > tr > td.tbl-label {
  width:90px;
  color:black;
  background-color: #eeeeee;
}

table.outline > tbody > tr.active > td.tbl-label {
  width:90px;
  background-color: #777777;
  color: white;
}

table.outline > tbody > tr > td.tbl-icon {
  width:40px;
}

table.outline > tbody > tr > td.tbl-icon2 {
  width:80px;
}

table.outline > tbody > tr > td.tbl-details {
  white-space: nowrap;
  font-weight:bolder;
  overflow:auto;
  width:auto;
}
